*.DS_Store
frontend/node_modules
/dist
system_frontend3
model_vscode/checkpoint
model_vscode/checkpoint_ok
model_vscode/checkpoint_losst
model_vscode/checkpoint已经在远程的vit_selfatt
model_vscode/__pycache__
# model_vscode/iu_10fold
# model_vscode/peir_10fold
model_vscode/peir_224_12_28/
model_vscode/*.txt
model_vscode/*.png
model_vscode/*.jpg
model_vscode/raw.py
model_vscode/test.py
model_vscode/1
model_vscode/data.rar
model_vscode/tmp
node_modules
1
2
model_vscode/heatmap.ipynb
model_vscode/.ipynb_checkpoints/
model_vscode/eval_vit_selfatt_lbpf_allcode.py
model_vscode/model_vit_selfatt_lbpf_allcode.py
model_vscode/train_vit_selfatt_lbpf_allcode.py
model_vscode/run.sh
model_vscode/MultiHeadAttention_new.py
model_vscode/qualitive.py

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
./frontend/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
